<div class="duplicates-wrapper">
  <div class="duplicates-section-wrapper">
    <h2 class="playlist-title">
      <%= @playlist.name %>
    </h2>

    <div>
      <h3 class="duplicate-title">Duplicates:</h3>
      <ul class="duplicates-list">
        <% @duplicate_tracks.each do |track| %>
          <li class="duplicates">
            <a href="/playlist/<%= track.id %>"><%= track.name %></a>
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <form method="POST" action="/playlist/<%= @playlistid %>/clean">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="duplicate_tracks" value="<%= @duplicate_tracks.map {|track| track.id} %>">
        <button type="submit" class="remove-button">Remove Duplicates</button>
      </form>

      </div>

    <div class="duplicate-actions">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.5 32.71" class="arrow-svg">
        <line class="cls-line" x1="4.34" y1="16.36" x2="48.5" y2="16.36"/>
        <polygon class="cls-point" points="17.59 32.72 20.32 29.79 5.87 16.36 20.32 2.93 17.59 0 0 16.36 17.59 32.72"/>
      </svg>
      <a>Return to Playlists</a>

    </div>



  </div>

  <div class="duplicates-image">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1022.84 934.48" class="duplicates-svg">
      <defs>
        <style>
          .cls-1{isolation:isolate;}
          .cls-2{mix-blend-mode:screen;}
          .cls-3{fill:#12e4d5;}
          .cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17,.cls-18,.cls-19,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-25,.cls-26,.cls-27,.cls-28,.cls-29,.cls-30,.cls-31,.cls-32,.cls-33,.cls-34,.cls-35,.cls-36,.cls-37,.cls-38,.cls-39,.cls-4,.cls-40,.cls-41,.cls-42,.cls-43,.cls-44,.cls-45,.cls-46,.cls-47,.cls-48,.cls-49,.cls-5,.cls-50,.cls-51,.cls-52,.cls-53,.cls-54,.cls-6,.cls-7,.cls-8,.cls-9{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.39px;}
          .cls-5{stroke-dasharray:19.76 19.76;}.cls-6{stroke-dasharray:16.91 16.91;}
          .cls-7{stroke-dasharray:18.09 18.09;}
          .cls-8{stroke-dasharray:16.07 16.07;}
          .cls-9{stroke-dasharray:16.08 16.08;}
          .cls-10{stroke-dasharray:15.96 15.96;}
          .cls-11{stroke-dasharray:17.1 17.1;}
          .cls-12{stroke-dasharray:12.82 12.82;}
          .cls-13{stroke-dasharray:19.74 19.74;}
          .cls-14{stroke-dasharray:11.23 11.23;}
          .cls-15{stroke-dasharray:16.81 16.81;}
          .cls-16{stroke-dasharray:16.94 16.94;}
          .cls-17{stroke-dasharray:15.1 15.1;}
          .cls-18{stroke-dasharray:15.1 15.1;}
          .cls-19{stroke-dasharray:15.1 15.1;}
          .cls-20{stroke-dasharray:16.5 16.5;}
          .cls-21{stroke-dasharray:16.72 16.72;}
          .cls-22{stroke-dasharray:15.19 15.19;}
          .cls-23{stroke-dasharray:16.83 16.83;}
          .cls-24{stroke-dasharray:15.27 15.27;}
          .cls-25{stroke-dasharray:9 9;}
          .cls-26{stroke-dasharray:9 9;}
          .cls-27{stroke-dasharray:9 9;}
          .cls-28{stroke-dasharray:9 9;}
          .cls-29{stroke-dasharray:9 9;}
          .cls-30{stroke-dasharray:9 9;}
          .cls-31{stroke-dasharray:9 9;}
          .cls-32{stroke-dasharray:9 9;}
          .cls-33{stroke-dasharray:9 9;}
          .cls-34{stroke-dasharray:9 9;}
          .cls-35{stroke-dasharray:9 9;}
          .cls-36{stroke-dasharray:9 9;}
          .cls-37{stroke-dasharray:15.1 15.1;}
          .cls-38{stroke-dasharray:15.1 15.1;}
          .cls-39{stroke-dasharray:15.1 15.1;}
          .cls-40{stroke-dasharray:11.12 11.12;}
          .cls-41{stroke-dasharray:11.12 11.12;}
          .cls-42{stroke-dasharray:14.2 14.2;}
          .cls-43{stroke-dasharray:14.23 14.23;}
          .cls-44{stroke-dasharray:18.27 18.27;}
          .cls-45{stroke-dasharray:17.84 17.84;}
          .cls-46{stroke-dasharray:13.39 13.39;}
          .cls-47{stroke-dasharray:8.57 8.57;}
          .cls-48{stroke-dasharray:17.6 17.6;}
          .cls-49{stroke-dasharray:15.13 15.13;}
          .cls-50{stroke-dasharray:19.68 19.68;}
          .cls-51{stroke-dasharray:17.51 17.51;}
          .cls-52{stroke-dasharray:15.25 15.25;}
          .cls-53{stroke-dasharray:11.25 11.25;}
          .cls-54{stroke-dasharray:13.11 13.11;}
        </style>
      </defs>
      <title>duplicate-image</title>
      <g class="cls-1">
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
          <g class="cls-2">
            <path class="cls-3" d="M158.45,858.38c142.87,152.29,582.47,52.62,738.9-94.12s168.47-470.75,25.61-623S617.35-52.29,494.67,279.87C420.76,480,15.59,706.08,158.45,858.38Z"/>
          </g>
          <g class="cls-2">
            <path class="cls-3" d="M104.45,831.38C247.32,983.67,686.92,884,843.35,737.26s168.47-470.75,25.61-623S563.35-79.29,440.67,252.87C366.76,453-38.41,679.08,104.45,831.38Z"/>
          </g>
          <path class="cls-4" d="M195,60.13c-1.27,1.45-1.91,4.06-2.21,7.14Q193.9,63.7,195,60.13Z"/>
          <polyline class="cls-4" points="134.47 597.76 126.69 594.78 126.13 598.05 124.29 608.9 131.01 613.82"/>
          <polyline class="cls-4" points="137.42 618.51 144.14 623.44 156.84 614.43 147.83 601.74 146.95 601.1 146.38 602.32 138.6 599.34"/>
          <polyline class="cls-4" points="134.69 592.12 127.97 587.2 126.69 594.78 134.47 597.76"/>
          <polyline class="cls-4" points="138.6 599.34 146.38 602.32 146.95 601.1 140.23 596.17"/>
          <path class="cls-4" d="M282.42,317.74v-8.33c-.52.09-1,.2-1.56.28,0,0-2.6-.29-6.71-.7"/>
          <path class="cls-5" d="M254.46,307.25c-7.62-.56-15.46-1-21.37-1h-.31c-2.64,0-5.29.09-7.93.19"/>
          <path class="cls-4" d="M215,307.06c-2.77.22-5.53.47-8.29.77l-2.63,4.9-1.31,2.45"/>
          <polyline class="cls-6" points="194.77 330.08 155.85 402.72 161.77 447.94 129.62 578.06"/>
          <polyline class="cls-4" points="127.59 586.27 125.59 594.36 126.69 594.78 127.97 587.2 134.69 592.12"/>
          <polyline class="cls-4" points="140.23 596.17 146.95 601.1 150.49 593.55"/>
          <line class="cls-7" x1="158.17" y1="577.17" x2="215.8" y2="454.3"/><polyline class="cls-4" points="219.65 446.11 223.18 438.57 223.74 446.88"/>
          <line class="cls-8" x1="224.81" y1="462.92" x2="232.85" y2="583.19"/>
          <polyline class="cls-4" points="233.39 591.21 233.95 599.52 234.06 599.53 234.09 597.1 242.42 597.19"/><polyline class="cls-4" points="246.35 597.23 254.68 597.31 255.97 589.08"/>
          <polyline class="cls-9" points="258.45 573.19 282.58 418.88 282.43 325.78"/>
          <polyline class="cls-4" points="242.4 599.61 234.06 599.53 233.98 608.11 241.39 611.91"/>
          <polyline class="cls-4" points="248.47 615.53 255.88 619.33 266.99 608.44 256.1 597.32 254.68 597.31 254.3 599.73 245.97 599.64"/>
          <polyline class="cls-4" points="242.42 597.19 234.09 597.1 234.06 599.53 242.4 599.61"/>
          <polyline class="cls-4" points="245.97 599.64 254.3 599.73 254.68 597.31 246.35 597.23"/>
          <path class="cls-4" d="M246.26,63.69c0,.1.05.2.07.3a16.18,16.18,0,0,1-.55,7.92,29.67,29.67,0,0,0,4.65,1.82,17.34,17.34,0,0,0,3.27.6"/>
          <path class="cls-10" d="M269.31,71.65c.66-.25,1.29-.51,1.9-.78,7.26-3.21,12-14.74,16.74-20.69a47.38,47.38,0,0,1,4.21-4.63c3.27-3.1,7.13-5.62,9.91-9.18s4.25-8.69,2-12.59c-1.45-2.52-4.15-4-6.82-5.22a53.92,53.92,0,0,0-28.12-4.2c-9.07,1.08-17.41,3.76-25.82-.7-7.9-4.19-14.06-3.71-23.14-1.74-9.83,2.12-22.55,1.26-31.67,4.88a25.41,25.41,0,0,0-9.7,7.35,38.12,38.12,0,0,0-5.32,39.95,53.88,53.88,0,0,0,4.91,8.18l.61.87"/>
          <path class="cls-4" d="M183.77,79.54a31.53,31.53,0,0,0,6,5.74,8.43,8.43,0,0,1-.9-3.44,14.4,14.4,0,0,1,.84-4.66"/>
          <path class="cls-11" d="M194.5,60.82a6.16,6.16,0,0,1,.51-.69l1.32-4.25a19.34,19.34,0,0,1,3.14-6.79c2.82-3.38,7.58-4.4,12-4.59,11.24-.47,22.9,3.48,30.48,11.79l.07.08"/>
          <path class="cls-4" d="M192.58,75.6a73.22,73.22,0,0,1,.22-8.33c-.83,2.65-1.65,5.3-2.48,8"/>
          <path class="cls-4" d="M189,80.31a9.75,9.75,0,0,0-.09,1.53,8.43,8.43,0,0,0,.9,3.44,16.15,16.15,0,0,0,2.79,1.59,56.91,56.91,0,0,0,.08-8.32"/>
          <path class="cls-4" d="M197.61,52.22a38.64,38.64,0,0,0-1.28,3.66L195,60.13a4.08,4.08,0,0,1,.47-.46,14.14,14.14,0,0,1,7-2.89"/>
          <path class="cls-12" d="M215.22,57.62a89.69,89.69,0,0,1,10.55,3.09,41.64,41.64,0,0,1,7.38,3.61"/>
          <path class="cls-4" d="M238.58,67.73a70,70,0,0,0,7.2,4.18,16.18,16.18,0,0,0,.55-7.92c0-.1,0-.2-.07-.3"/>
          <path class="cls-13" d="M233.25,49.48a41.84,41.84,0,0,0-21.8-5,23.68,23.68,0,0,0-6.85,1.19"/>
          <path class="cls-4" d="M116.49,447.08a8.83,8.83,0,0,1-2.21-6.23A8.83,8.83,0,0,0,116.49,447.08Z"/>
          <path class="cls-4" d="M178.74,249.83l.35-.31a1.5,1.5,0,0,1,2.1.13l3.66,4.15,4.58-4-5-5.71a2.79,2.79,0,0,1-.4-.59"/>
          <path class="cls-4" d="M184.4,240.18a3,3,0,0,1,.25-.25l7.51-2.68a9.29,9.29,0,0,0-7.63-2.59"/>
          <polyline class="cls-4" points="164.05 242.22 156.27 245.21 160.1 252.61"/>
          <polyline class="cls-4" points="161.12 254.59 164.95 262 171.19 256.49"/>
          <polygon class="cls-4" points="184.1 290.69 181.21 287.42 178.91 288.26 184.1 290.69"/><polygon class="cls-4" points="171.11 283.43 178.78 284.67 172.04 277.03 169.32 280.87 171.11 283.43"/><path class="cls-4" d="M222.51,277.71a9.36,9.36,0,0,0-1.63-7.9l-3.59,7.12a2.69,2.69,0,0,1-.28.22"/>
          <path class="cls-4" d="M213.62,277.14a2.93,2.93,0,0,1-.53-.47l-5-5.72-4.5,4.05,3.66,4.15a1.5,1.5,0,0,1-.13,2.1l-.35.31"/>
          <path class="cls-4" d="M195,291.91l-4.42,3.89a1.48,1.48,0,0,1-2.09-.13l-.08-.09,1.23,2.62-4.06,7.27"/>
          <polyline class="cls-4" points="183.98 306.77 176.3 310 169.5 305.2"/>
          <polyline class="cls-4" points="166 298.68 164.15 294.67 161.77 291.56 159.05 295.39 153.79 288.94"/>
          <polyline class="cls-14" points="146.69 280.23 145.35 278.59 136.03 267.17"/>
          <polyline class="cls-4" points="132.49 262.82 131.08 261.1 127.22 256.37 119.44 259.35"/>
          <path class="cls-15" d="M103.74,265.38,7.07,302.51l-.07,0A10.21,10.21,0,0,0,3.25,318.7a8.83,8.83,0,0,0,5.9,3l104.42,6.78c4.57,0,7.63,3.21,7,8l-4.9,81.09"/>
          <path class="cls-4" d="M115.18,425.89l-.5,8.32a14,14,0,0,0,8.17-.9"/>
          <path class="cls-16" d="M135.81,422.66c4.1-4.67,11.66-13.57,19.48-24.22a227.16,227.16,0,0,0,17-26.42l31.76-59.29,2.63-4.9,12.07-22.54"/>
          <path class="cls-17" d="M137.86,410a4.81,4.81,0,1,1,0-6.8A4.8,4.8,0,0,1,137.86,410Z"/>
          <path class="cls-18" d="M143.12,389.92a4.81,4.81,0,1,1,0-6.81A4.81,4.81,0,0,1,143.12,389.92Z"/>
          <path class="cls-19" d="M148.39,369.85a4.82,4.82,0,1,1,0-6.81A4.83,4.83,0,0,1,148.39,369.85Z"/>
          <path class="cls-20" d="M168.75,315.05l-.08.09-16.5,14.55a1.5,1.5,0,0,1-2.1-.14l-2.46-2.79-2-2.26-17-19.31-4.53-5.14a1.5,1.5,0,0,1,.13-2.1l4.91-4.33,11.59-10.22a1.48,1.48,0,0,1,2.09.14l1.46,1.64L168.8,313A1.49,1.49,0,0,1,168.75,315.05Z"/>
          <polyline class="cls-4" points="168.37 379.36 172.3 372.02 172.3 372.02 168.37 379.36"/>
          <polyline class="cls-4" points="159.79 395.38 155.85 402.72 159.79 395.38"/>
          <path class="cls-4" d="M171.2,256.49,165,262l1.43,2.78,11.53,0L175.4,262l9.45-8.16-3.66-4.15a1.5,1.5,0,0,0-2.1-.13l-.35.31"/>
          <polyline class="cls-4" points="193.85 292.92 200.1 287.41 198.83 279.26 194.28 283.36 188.76 277.11"/>
          <polyline class="cls-4" points="183.42 271.05 177.91 264.81 166.38 264.78 172.43 276.48 172.04 277.03 178.78 284.67 180.92 285.01 181.64 287.26 181.21 287.42 184.1 290.69 186.68 291.9 187.15 292.91"/>
          <path class="cls-4" d="M206.73,281.56l.35-.31a1.5,1.5,0,0,0,.13-2.1L203.55,275l-4.72,4.26,1.27,8.15,6.25-5.52"/>
          <path class="cls-20" d="M168.8,313l-24.57-27.86-1.46-1.64a1.48,1.48,0,0,0-2.09-.14l-11.59,10.22L124.18,298a1.5,1.5,0,0,0-.13,2.1l4.53,5.14,17,19.31,2,2.26,2.46,2.79a1.5,1.5,0,0,0,2.1.14l16.5-14.55.08-.09A1.49,1.49,0,0,0,168.8,313Z"/>
          <polyline class="cls-4" points="154.77 311.06 160.28 317.31 156.75 320.43 154.49 322.42 154.16 322.05 148.97 316.18"/>
          <polyline class="cls-4" points="137.19 302.81 131.68 296.56 137.47 291.45 142.24 296.86 142.98 297.7"/>
          <path class="cls-4" d="M432.52,44.46a3.71,3.71,0,0,0,2.68,6.13l-.85-2.9,2.28-.67.85,2.87a3.7,3.7,0,0,0-1.13-6.58"/>
          <path class="cls-4" d="M437.48,49.89a3.68,3.68,0,0,1-2.28.7l.76,2.57,2.22-.88Z"/>
          <path class="cls-4" d="M436.63,47l-2.28.67.85,2.9a3.68,3.68,0,0,0,2.28-.7Z"/>
          <path class="cls-4" d="M423.24,47.89a3.72,3.72,0,0,0,.06,4.91A3.68,3.68,0,0,0,425.93,54l-.86-2.89,2.28-.68.85,2.88a2.88,2.88,0,0,0,.35-.26,3.71,3.71,0,0,0,.27-5.24,3.75,3.75,0,0,0-1.74-1.09"/>
          <path class="cls-4" d="M428.2,53.33a3.71,3.71,0,0,1-2.27.69l.83,2.81L429,56Z"/>
          <path class="cls-4" d="M427.35,50.45l-2.28.68.86,2.89a3.71,3.71,0,0,0,2.27-.69Z"/>
          <path class="cls-4" d="M413.75,51.52a3.7,3.7,0,0,0,2.68,6.13l-.86-2.89,2.29-.67L418.7,57c.12-.08.24-.16.35-.25a3.72,3.72,0,0,0-1.47-6.34"/>
          <path class="cls-4" d="M418.7,57a3.64,3.64,0,0,1-2.27.69l.87,3,2.22-.88Z"/>
          <path class="cls-4" d="M417.86,54.09l-2.29.67.86,2.89A3.64,3.64,0,0,0,418.7,57Z"/>
          <path class="cls-4" d="M404.44,55.38a3.71,3.71,0,0,0,2.69,6.13l-.86-2.9,2.28-.67.85,2.87a2.8,2.8,0,0,0,.35-.25,3.71,3.71,0,0,0-1.47-6.33"/>
          <path class="cls-4" d="M409.4,60.81a3.65,3.65,0,0,1-2.27.7l.83,2.82,2.22-.89Z"/>
          <path class="cls-4" d="M408.55,57.94l-2.28.67.86,2.9a3.65,3.65,0,0,0,2.27-.7Z"/>
          <path class="cls-4" d="M394.6,59.38a3.71,3.71,0,0,0,2.68,6.14l-.86-2.9,2.29-.67.84,2.87a2.8,2.8,0,0,0,.35-.25,3.73,3.73,0,0,0,.27-5.25,3.65,3.65,0,0,0-1.74-1.08"/>
          <path class="cls-4" d="M399.55,64.82a3.65,3.65,0,0,1-2.27.7l.81,2.74,2.22-.88Z"/>
          <path class="cls-4" d="M398.71,62l-2.29.67.86,2.9a3.65,3.65,0,0,0,2.27-.7Z"/>
          <path class="cls-4" d="M384.85,64a3.71,3.71,0,0,0,2.68,6.13l-.85-2.9,2.28-.67.84,2.87a2.8,2.8,0,0,0,.35-.25,3.71,3.71,0,0,0-1.47-6.33"/>
          <path class="cls-4" d="M389.8,69.39a3.63,3.63,0,0,1-2.27.7l.63,2.13,2.22-.88Z"/>
          <path class="cls-4" d="M389,66.52l-2.28.67.85,2.9a3.63,3.63,0,0,0,2.27-.7Z"/>
          <path class="cls-4" d="M285.63,201l3.33-3-5.26-1.51C284.31,198,285,199.55,285.63,201Z"/>
          <path class="cls-4" d="M386.85,109.83l6.19-5.58h0l-4.27-4.84L387.49,98"/>
          <polyline class="cls-4" points="383.41 93.38 377.89 87.14 371.59 92.58"/>
          <polyline class="cls-21" points="358.93 103.51 298.57 155.62 276.89 174.34 259.34 189.49 205.18 236.25 197.31 243.05 189.43 249.84 188.03 251.05"/>
          <polyline class="cls-4" points="181.71 256.51 175.4 261.96 177.91 264.8 180.91 268.21"/>
          <polyline class="cls-4" points="188.76 277.11 194.28 283.36 198.83 279.26 200.47 277.78"/>
          <polyline class="cls-22" points="211.75 267.62 212.07 267.33 214.77 264.9 215.78 263.99 223.51 257.02 273.8 211.7"/>
          <path class="cls-4" d="M279.44,206.62l6.19-5.58c-.67-1.49-1.32-3-1.93-4.52L289,198l6.19-5.57"/>
          <line class="cls-23" x1="307.66" y1="181.19" x2="351.43" y2="141.74"/>
          <polyline class="cls-4" points="357.68 136.11 363.87 130.53 362.93 130.52 356.2 122.06 363.67 110.75 366.11 110.51 378.05 109.35 378.97 116.93 385.16 111.35"/>
          <polygon class="cls-4" points="196.73 265.86 197 267.58 197 267.58 196.73 265.86"/>
          <path class="cls-4" d="M184,243.54a2.79,2.79,0,0,0,.4.59l5,5.71,6.31-5.44"/>
          <path class="cls-4" d="M198.88,241.69l6.3-5.44-1.26-1.43a3,3,0,0,0-4.19-.26l-1.67.59"/>
          <path class="cls-4" d="M223.7,264.22l.8-1.58a3,3,0,0,0,.26-4.19L223.51,257l-6.19,5.58"/>
          <path class="cls-4" d="M214.24,265.37l-2.17,2-4,3.62,5,5.72a2.93,2.93,0,0,0,.53.47"/>
          <path class="cls-4" d="M419.44,98.25c-.31.11-.7.22-1.15.34C418.74,98.47,419.13,98.36,419.44,98.25Z"/>
          <path class="cls-4" d="M417.26,98.82c-1.3.27-2.95.55-4.8.85C414.31,99.37,416,99.09,417.26,98.82Z"/>
          <path class="cls-4" d="M412.46,99.67l-3,.5Z"/>
          <path class="cls-4" d="M378.94,78.74a7,7,0,0,0-.28,1.22c-.37,2.54-.67,5-.9,7l.13.16,10.84,12.28a49.85,49.85,0,0,1,7.94-2.5"/>
          <path class="cls-4" d="M412.37,95.7a33.81,33.81,0,0,1,8.12,1.78c1.76-2.33,3.49-4.5,5.19-6.53"/>
          <path class="cls-24" d="M436.06,79.76A84.19,84.19,0,0,1,454.28,66c4.81-2.57,5.12-9.52.53-13.17a25.11,25.11,0,0,0-4-2.57,7.9,7.9,0,0,0-6.57-.42l-6.07,2.42-2.22.88L429,56l-2.22.88-7.24,2.89-2.22.88-7.12,2.84-2.22.89-7.65,3-2.22.88-7.71,3.08-2.22.88-3.85,1.54"/>
          <path class="cls-25" d="M394.41,78.08a2.87,2.87,0,1,1-4.06-.25A2.88,2.88,0,0,1,394.41,78.08Z"/>
          <path class="cls-26" d="M403.62,77.61a2.87,2.87,0,1,1,.26-4.06A2.88,2.88,0,0,1,403.62,77.61Z"/>
          <path class="cls-27" d="M413.09,73.08a2.87,2.87,0,1,1,.26-4A2.87,2.87,0,0,1,413.09,73.08Z"/>
          <path class="cls-28" d="M422.56,68.55a2.87,2.87,0,1,1,.26-4A2.87,2.87,0,0,1,422.56,68.55Z"/>
          <path class="cls-29" d="M432,64a2.87,2.87,0,1,1,.25-4A2.88,2.88,0,0,1,432,64Z"/>
          <path class="cls-30" d="M441.51,59.5a2.87,2.87,0,1,1,.25-4A2.87,2.87,0,0,1,441.51,59.5Z"/>
          <path class="cls-31" d="M437.71,55.19a2.87,2.87,0,1,0,4.05.26A2.87,2.87,0,0,0,437.71,55.19Z"/>
          <path class="cls-32" d="M428.24,59.72a2.87,2.87,0,1,0,4.05.25A2.88,2.88,0,0,0,428.24,59.72Z"/>
          <path class="cls-33" d="M418.77,64.25a2.87,2.87,0,1,0,4.05.25A2.87,2.87,0,0,0,418.77,64.25Z"/>
          <path class="cls-34" d="M409.3,68.77a2.87,2.87,0,1,0,4.05.26A2.87,2.87,0,0,0,409.3,68.77Z"/>
          <path class="cls-35" d="M399.83,73.3a2.87,2.87,0,1,0,4.05.25A2.87,2.87,0,0,0,399.83,73.3Z"/>
          <path class="cls-36" d="M390.35,77.83a2.87,2.87,0,1,0,4.06.25A2.88,2.88,0,0,0,390.35,77.83Z"/>
          <path class="cls-37" d="M148.39,369.85a4.82,4.82,0,1,0-6.81,0A4.83,4.83,0,0,0,148.39,369.85Z"/>
          <path class="cls-38" d="M143.12,389.92a4.81,4.81,0,1,0-6.8,0A4.81,4.81,0,0,0,143.12,389.92Z"/>
          <path class="cls-39" d="M137.86,410a4.82,4.82,0,1,0-6.8,0A4.82,4.82,0,0,0,137.86,410Z"/>
          <path class="cls-4" d="M404,101.14c-.73.14-1.46.3-2.19.45C402.58,101.44,403.31,101.28,404,101.14Z"/>
          <path class="cls-4" d="M419.85,98.08a1.11,1.11,0,0,0,.41-.3l.23-.3-.23.3A1.11,1.11,0,0,1,419.85,98.08Z"/>
          <path class="cls-4" d="M393,104.25a31.48,31.48,0,0,1,3.35-1.24,31.48,31.48,0,0,0-3.35,1.24Z"/>
          <path class="cls-4" d="M417.56,98.75l-.3.07Z"/>
          <path class="cls-4" d="M393,104.26l-4.27-4.85h0l4.27,4.85h0Z"/>
          <path class="cls-4" d="M396.67,96.92a49.85,49.85,0,0,0-7.94,2.5l4.27,4.84h0a31.48,31.48,0,0,1,3.35-1.24c.4-.13.82-.25,1.24-.37,1.07-.3,2.18-.58,3.32-.84"/>
          <path class="cls-4" d="M412.59,99.65c1.8-.3,3.4-.57,4.67-.83l.3-.07a10.89,10.89,0,0,0,2.29-.67,1.11,1.11,0,0,0,.41-.3l.23-.3a33.81,33.81,0,0,0-8.12-1.78"/>
          <path class="cls-4" d="M114.68,434.21l-.12,2Z"/>
          <path class="cls-4" d="M135.78,440.2,133,445.34l0,0a10.54,10.54,0,0,1-1.45,2,10.54,10.54,0,0,0,1.45-2l0,0,2.76-5.14"/>
          <line class="cls-40" x1="141.03" y1="430.39" x2="148.9" y2="415.69"/>
          <polyline class="cls-4" points="151.53 410.79 155.47 403.44 151.53 410.79"/>
          <line class="cls-41" x1="146.28" y1="420.59" x2="138.4" y2="435.29"/>
          <path class="cls-4" d="M122.85,433.31a14,14,0,0,1-8.17.9l-.12,2-.28,4.64a9.37,9.37,0,0,0,.09,1.68"/>
          <path class="cls-42" d="M124.59,450.52l.59,0a10.1,10.1,0,0,0,6.37-3.13,10.54,10.54,0,0,0,1.45-2l0,0,22.44-41.89.39-.73,9.17-17.1"/>
          <path class="cls-4" d="M168.37,379.36,172.3,372c-1.29,2.41-2.68,4.83-4.12,7.24"/>
          <path class="cls-43" d="M160.45,391.2c-1.71,2.48-3.44,4.9-5.16,7.24-11.61,15.8-22.63,27.75-22.63,27.75a38.16,38.16,0,0,1-3.75,3.44"/>
          <polyline class="cls-4" points="185.58 305.47 189.65 298.2 188.41 295.58 184.1 290.69 178.91 288.26 181.21 287.42 178.78 284.67 171.11 283.43 169.32 280.87 161.77 291.56 164.15 294.67 165.99 298.68"/>
          <polyline class="cls-4" points="169.5 305.2 176.3 310.01 183.98 306.77"/>
          <polygon class="cls-4" points="181.64 287.26 180.92 285.01 178.78 284.67 181.21 287.42 181.64 287.26"/>
          <polygon class="cls-4" points="184.1 290.69 188.41 295.58 186.68 291.9 184.1 290.69"/>
          <polygon class="cls-4" points="378.99 119.82 379.27 119.44 378.97 116.93 377.2 118.52 378.99 119.82"/>
          <polyline class="cls-4" points="370.06 124.95 363.87 130.53 371.04 130.6 378.99 119.82 377.2 118.52 371.01 124.1"/>
          <polygon class="cls-4" points="366.11 110.51 377.2 118.52 378.97 116.93 378.05 109.35 366.11 110.51"/>
          <polyline class="cls-4" points="371.01 124.1 377.2 118.52 366.11 110.51 363.67 110.75 356.19 122.06 362.93 130.52 363.87 130.53 369.36 125.58"/>
          <polyline class="cls-4" points="142.98 297.7 142.24 296.86 137.47 291.45 131.68 296.56 137.19 302.81"/>
          <polyline class="cls-4" points="148.97 316.18 154.16 322.05 154.49 322.42 156.75 320.43 160.28 317.31 154.77 311.06"/>
          <polyline class="cls-4" points="374.45 126.82 379.27 120.02 378.99 119.82 371.04 130.6 363.87 130.53 363.01 131.31"/>
          <line class="cls-44" x1="349.44" y1="143.54" x2="301.94" y2="186.34"/>
          <polyline class="cls-4" points="295.15 192.46 288.96 198.03 296.97 200.34"/>
          <polyline class="cls-4" points="310.07 204.12 318.07 206.43 322.89 199.63"/>
          <line class="cls-45" x1="333.2" y1="185.07" x2="369.3" y2="134.1"/>
          <path class="cls-4" d="M289.33,208.5c-1.33-2.44-2.56-4.92-3.7-7.46l-6.19,5.58"/>
          <line class="cls-46" x1="269.49" y1="215.58" x2="234.67" y2="246.96"/>
          <path class="cls-4" d="M229.7,251.44,223.51,257l1.25,1.43a3,3,0,0,1-.26,4.19l-1.15,2.28-1.95,3.88-.52,1a9.36,9.36,0,0,1,1.63,7.9"/>
          <line class="cls-47" x1="218.72" y1="285.38" x2="212.64" y2="296.71"/>
          <path class="cls-4" d="M210.62,300.49l-3.93,7.34c2.76-.3,5.52-.55,8.29-.77"/>
          <path class="cls-48" d="M232.56,306.28h.53c16.42-.07,47.76,3.41,47.76,3.41.53-.08,1-.19,1.56-.28,8.63-1.54,16.93-4.41,25.25-7.09,15.15-4.88,30.62-9.17,44.86-16.08,4.57-2.22,17.18-8.78,12.76-14.88-3.35-4.62-14.85-7.8-20-10.67a177.23,177.23,0,0,1-32.36-22.42,111,111,0,0,1-19.07-22.21"/>
          <polyline class="cls-4" points="292.27 161.06 298.57 155.62 291.65 150.98"/>
          <path class="cls-49" d="M279.08,142.57l-13.75-9.21c-16.41-15.71-23.26-28.27-45.85-25l-2.32.34c-8.23,1.2-15.12,2.29-20.93,3.36a122.09,122.09,0,0,0-17.82,4.36"/>
          <path class="cls-4" d="M171.54,119.53a23.42,23.42,0,0,0-6.29,5.4h0l-.3.37L160,131.41"/>
          <line class="cls-50" x1="147.71" y1="146.76" x2="104.56" y2="200.46"/>
          <polyline class="cls-4" points="98.39 208.13 93.17 214.63 98.44 221.08"/>
          <polyline class="cls-51" points="109.51 234.65 127.22 256.37 131.08 261.1 145.35 278.59 148.25 282.15"/>
          <polyline class="cls-4" points="153.79 288.94 159.05 295.39 161.77 291.56 163.86 288.59"/>
          <polyline class="cls-4" points="167.62 283.28 169.32 280.87 172.04 277.03 172.43 276.48 168.6 269.07"/>
          <polyline class="cls-4" points="160.1 252.61 156.27 245.21 164.05 242.22"/>
          <path class="cls-4" d="M184.53,234.66a9.29,9.29,0,0,1,7.63,2.59l7.57-2.69a3,3,0,0,1,4.19.26l1.26,1.43,6.31-5.45"/>
          <polyline class="cls-52" points="223.03 220.84 259.34 189.49 276.89 174.34 286.5 166.04"/>
          <path class="cls-4" d="M192.65,78.55a56.91,56.91,0,0,1-.08,8.32,16.83,16.83,0,0,1-2.79-1.59c1.81,3.66,6.08,6.24,9.95,8.19-.56,1.94-1.19,4.92-1.78,8.13"/>
          <path class="cls-4" d="M197.54,103.82c-.51,2.91-1,5.85-1.31,8.23,2.52-.46,5.25-.93,8.21-1.41"/>
          <path class="cls-4" d="M208.92,109.93c2.59-.4,5.33-.82,8.24-1.24,1.05-2.75,2-5.55,4.16-7.07"/>
          <path class="cls-53" d="M232.13,99.11c3.34-2,5.31-6.13,6.84-9.89l1.75-4.3"/>
          <path class="cls-4" d="M242.85,79.71c.31-.78.63-1.55.94-2.33a54.89,54.89,0,0,0,2-5.47,70,70,0,0,1-7.2-4.18"/>
          <path class="cls-54" d="M227.2,61.26c-.47-.2-.95-.38-1.43-.55-8-2.82-22.72-7.26-30.29-1a4.08,4.08,0,0,0-.47.46q-1.11,3.57-2.21,7.14c-.15,1.49-.22,3.1-.24,4.73"/>
        </g>
        </g>
      </g>
    </svg>

  </div>
</div>

